extends layout

block content
  div(style='height: 100vh')
    .d-flex.justify-content-center.align-items-center.h-100
      .container
        .row
          .col-md-12
            form(method='POST', action='/add')
              p.h5.text-center.mb-4 Add a new question
              .md-form
                input#question.form-control(type='text' required='')
                label(for='question') Enter the question
              #options-container
              .text-center
                button.btn.btn-info.waves-light(type='button').addOption Add option
                button.btn.btn-info.waves-light(type='submit').submit Submit

    