extends layout

block content
    img(src='images/success.gif', alt='thank you', srcset='')
    h3
        | You have successfully added a question to our database. 
        br
        br
        |  Thanks a lot :)