extends layout

block content
    img(src='/home/moose/Desktop/Quizzies/images/success.gif', alt='', srcset='')
    h3
        | You have successfully added a question to our database. 
        br
        br
        |  Thanks a lot :)